<h2>{{title}}</h2>
<p>{{description}}</p>

<div class="badge-container">
  <div class="task">
    <div class="header">
      Task
    </div>
    <div class="content">
      {% block task %}{% endblock %}
    </div>
  </div>
</div>
