<nav>
  <ul>
    {% for item in site.navigation %}
      <li class="{% if page.url == item.url %}active{% endif %}">
        <a href="{{ item.url }}">{{ item.name }}</a>
      </li>
    {% endfor %}
    <li class="is-hidden" data-admin-create-item>
      <a href="/admin/">New Entry</a>
    </li>
  </ul>
</nav>
